<nav x-data="{ open: false }" class="bg-indigo-800">
    <div class="max-w-7xl mx-auto px-2 sm:px-4">
        <div class="relative flex items-center justify-between h-16">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <button @click="open = !open" class="inline-flex items-center justify-center p-2 rounded-md text-indigo-400 hover:text-white hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700 focus:text-white transition duration-150 ease-in-out">
                    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path x-cloak :class="{'hidden': open, 'inline-flex': !open }" class="inline-flex" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        <path x-cloak :class="{'hidden': !open, 'inline-flex': open }" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex-shrink-0">
                    <img class="block h-8 w-auto" src="/img/workflow-mark-on-dark.svg" width="100%" height="100%" alt="" />
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex">
                        <a href="/" class="px-3 py-2 rounded-md text-sm font-medium leading-5 text-white bg-indigo-900 focus:outline-none focus:text-white focus:bg-indigo-700 transition duration-150 ease-in-out">Home</a>

                        <a href="/contact" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-indigo-300 hover:text-white hover:bg-indigo-700 focus:outline-none focus:text-white focus:bg-indigo-700 transition duration-150 ease-in-out">Contact</a>

                        <a href="#" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-indigo-300 hover:text-white hover:bg-indigo-700 focus:outline-none focus:text-white focus:bg-indigo-700 transition duration-150 ease-in-out">Alpha</a>

                        <a href="#" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-indigo-300 hover:text-white hover:bg-indigo-700 focus:outline-none focus:text-white focus:bg-indigo-700 transition duration-150 ease-in-out">Bravo</a>

                        <a href="#" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-indigo-300 hover:tex-white hover:bg-indigo-700 focus:outline-none focus:text-white focus:bg-indigo-700 transition duration-150 ease-in-out">Charlie</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Available on small screens only #}
    <div x-cloak :class="{'block': open, 'hidden': !open}" class="hidden sm:hidden">
        <div class="px-2 pt-2 pb-3">
            <a href="/" class="block px-3 py-2 rounded-md text-base font-medium text-white bg-indigo-900 focus:outline-none focus:text-white focus:bg-indigo-700 transition duration-150 ease-in-out">Home</a>

            <a href="/contact" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-indigo-300 hover:text-white hover:bg-indigo-700 focus:outline-none focus:text-white focus:bg-indigo-700 transition duration-150 ease-in-out">Contact</a>

            <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-indigo-300 hover:text-white hover:bg-indigo-700 focus:outline-none focus:text-white focus:bg-indigo-700 transition duration-150 ease-in-out">Alpha</a>

            <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-indigo-300 hover:text-white hover:bg-indigo-700 focus:outline-none focus:text-white focus:bg-indigo-700 transition duration-150 ease-in-out">Bravo</a>

            <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-indigo-300 hover:text-white hover:bg-indigo-700 focus:outline-none focus:text-white focus:bg-indigo-700 transition duration-150 ease-in-out">Charlie</a>
        </div>
    </div>
</nav>
