<mobile-toggle inline-template>
	<div class="bg-white shadow sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-4">
		<div class="flex items-center justify-between px-4 py-3 sm:p-0">
            {# Left #}
			<div class="flex items-center justify-between">
				<img class="h-8" src="/img/example-logo.svg" alt="{{ siteName }} logo">
                <a class="block px-4 py-1 font-semibold text-gray-900 hover:text-gray-700" href="/">{{ siteName }}</a>
			</div>
            {# Right #}
            {# Hamburger menu #}
			<div class="sm:hidden">
				<button
                    @click="isOpen = !isOpen"
                    type="button"
                    class="block text-gray-600 focus:outline-none hover:text-gray-900 focus:text-gray-900"
                >
					<svg class="h-6 w-6 fill-current" viewbox="0 0 24 24">
						<path v-if="isOpen" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
						<path v-if="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
					</svg>
				</button>
			</div>
		</div>
		<nav :class="{ block: isOpen, hidden: !isOpen }" class="px-2 pt-2 pb-4 sm:flex sm:p-0">
            <h1 class="hidden">Navigation</h1>
            <a href="#" class="block px-2 py-1 font-medium text-gray-900 hover:text-gray-700">Link 1</a>
            <a href="#" class="mt-1 block px-2 py-1 font-medium text-gray-900 hover:text-gray-700 sm:mt-0 sm:ml-2">Link 2</a>
            <a href="#" class="mt-1 block px-2 py-1 font-medium text-gray-900 hover:text-gray-700 sm:mt-0 sm:ml-2">Link 3</a>
		</nav>
	</div>
</mobile-toggle>

