# CRAFT ENVIRONMENT
.env*
!.env.example

# COMPOSER
/vendor

# CRAFT STORAGE
/storage/*
!/storage/.gitignore

# CRAFT LICENSE KEY - ONLY FOR STARTER PROJECT
# SEE: https://craftcms.com/knowledge-base/more-information-than-you-require-about-craft-license-keys#gotchas
/config/license.key

# ASSETS
/web/assets/*
!/web/assets/.gitignore
/web/cpresources/*
!/web/cpresources/.gitignore

# BUILD FILES
/bower_components/*
/node_modules/*
/build/*
/yarn-error.log
/npm-debug.log

# MISC FILES
.cache
.DS_Store
hot
.idea
.project
.settings
*.esproj
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.jsbeautifyrc
config.codekit3
prepros-6.config
