{# Home page #}
{% extends "_layouts/base.twig" %}

{% block content %}
    <h1>404 Page Not Found</h1>
    <p class="test">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, praesentium voluptatem. Asperiores aut incidunt ex adipisci ipsam ipsa sapiente modi odio corrupti doloribus? Expedita commodi sequi alias eveniet reprehenderit obcaecati!</p>
{% endblock content %}
