{# Home page #}
{% extends "_layouts/base.twig" %}

{% block sectionHeader %}
    <div class="container px-4">
        <h1 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">{{ siteName }}</h1>
        <h2 class="mt-3 text-base font-semibold text-gray-600 sm:mt-5 sm:text-lg sm:max-w-xl md:mt-5 md:text-xl lg:mx-0">The best Craft CMS starter project in the multiverse. <span class="align-middle">&#x1F602</span>
        </h2>
    </div>
{% endblock sectionHeader %}

{% block content %}
    <main class="container mt-8 px-4">
        {# Tailwind CSS typography plugin styles #}
        <div class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, praesentium voluptatem. Asperiores aut incidunt ex adipisci ipsam ipsa sapiente modi odio corrupti doloribus? Expedita commodi sequi alias eveniet reprehenderit obcaecati!</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</p>
        </div>
    </main>
{% endblock content %}
